<?xml version="1.0" encoding="UTF-8"?>
<suite name="AutomationExcerices: Regession Suite"
	verbose="2">
	   
	<parameter name="environment" value="config.properties" />
	
	<listeners>
		<listener
			class-name="test.automationframework.Listeners.ExtentReportListener"></listener>
		<listener
			class-name="test.automationframework.Kibana.KibanaIntegrationListener"></listener>
		<listener
			class-name="test.automationframework.Listeners.RetryListener"></listener>
	</listeners>

	<test name="AutomationExercise_Chrome" parallel="classes"
	thread-count="5">
	
	<parameter name="runParallel" value="true" />
	<parameter name="browser" value="Chrome" />
	
		<classes>
			<class
				name="com.test.automation.AutomationExercise_TestNG.Login.LoginTest" />
			
			<class
				name="com.test.automation.AutomationExercise_TestNG.Home.HomeTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.NewArrival.NewArrivalTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.Men.MenTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.MyWishList.MyWishListTest" />
		</classes>
	</test>
	
	<test name="AutomationExercise_FireFox" parallel="classes"
	thread-count="5">
	
	<parameter name="runParallel" value="true" />
	<parameter name="browser" value="Firefox" />
	
		<classes>
			<class
				name="com.test.automation.AutomationExercise_TestNG.Login.LoginTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.Men.MenTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.Home.HomeTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.NewArrival.NewArrivalTest" />
			<class
				name="com.test.automation.AutomationExercise_TestNG.MyWishList.MyWishListTest" />
		</classes>
	</test>
</suite>